@use '../../../variables' as v;
@use '../../../mixins' as m;

.burger-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000;

    div {
        width: 100%;
        height: 3px;
        background-color: v.$col-primary;
        transition: all 0.1s ease;
    }

    &.button-open {
        div:nth-child(1) {
            transform: rotate(45deg) translate(7px, 7px);
        }

        div:nth-child(2) {
            opacity: 0;
        }

        div:nth-child(3) {
            transform: rotate(-45deg) translate(7px, -7px);
        }
    }
}

.mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease;

    &.open {
        opacity: 1;
        visibility: visible;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: white;
    padding: 80px 40px 40px;
    transition: right 0.1s ease;
    z-index: 1000;

    &.open {
        right: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 40px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 30px;

            li a {
                color: v.$col-primary;
                font-size: v.$fs-24;
                text-decoration: none;
                font-weight: 600;

                &:hover {
                    font-weight: 800;
                }
            }
        }

        .language-toggle {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 10px;

            img {
                width: 85px;
                height: 85px;
                cursor: pointer;
                transition: all 0.1s ease;
                opacity: 0.6;

                &.active {
                    opacity: 1;
                }

                &:hover {
                    transform: scale(1.1);
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (min-width: v.$m-tablet) {
    .mobile-menu {
        display: none !important;
    }
}