<section class="introduction-area" id="introduction">
    <div class="content-container">
        <app-bubble></app-bubble>
        <h2>
            <div class="heading-container">
                <div class="heading-line">{{ 'INTRODUCTION.HEADING_LINE1' | translate }}</div>
                <div class="heading-line">{{ 'INTRODUCTION.HEADING_LINE2' | translate }}</div>
                <div *ngIf="currentLang === 'de'" class="heading-line">{{ 'INTRODUCTION.HEADING_LINE3' | translate }}</div>
            </div>
            <span class="smaller-text">{{ 'INTRODUCTION.I_AM' | translate }}</span>
            <div class="icons-container">
                <div class="icon-item">
                    <img src="assets/icons/remote_icon_only.svg" class="remote-icon" alt="Work Remote">
                    <span class="icon-text">open to work remote</span>
                </div>
                <div class="icon-item">
                    <img src="assets/icons/located_icon_only.svg" class="located-icon" alt="Located in Darmstadt">
                    <span class="icon-text">located in Darmstadt</span>
                </div>
            </div>
        </h2>
        <div class="introduction-container">
            <p>
                {{ 'INTRODUCTION.BIO' | translate }}
                <br><br>
                {{ 'INTRODUCTION.CONTACT_INTRO' | translate }}
            </p>
            <app-button
                [btnText]="contactBtnText | translate"
                [href]="'#contact'"
            ></app-button>
        </div>
    </div>
</section>