@use 'variables' as *;

@mixin btn($primary-btn-col, $secondary-btn-col) {
    display: inline-block;
    padding: 15px 30px;
    font-size: $fs-24;
    color: $primary-btn-col;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    background: $secondary-btn-col linear-gradient(
        300deg,
        transparent 49%,
        $primary-btn-col 51%);
    background-position: 100% 100%;
    background-size: 400% 400%;
    transition: all 0.1s ease-in-out;
    white-space: nowrap;
    overflow: hidden;

    &:hover,
    &:focus {
        color: $secondary-btn-col;
        background-color: $primary-btn-col;
        transform: scale(1.1);
        outline: 2px solid $col-primary;
        animation: move-background 0.1s forwards;
    }

    &:active {
        background: $col-primary-dark;
    }
}

.btn-primary {
    @include btn($col-primary, white);
    border: 2px solid $col-primary;
}

.btn-secondary {
    @include btn(white, $col-primary);
    border: none;
}

// Animations
@keyframes move-background {
    0% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

// Media
@media screen and (max-width: $m-mobile-md) {
    .btn-primary,
    .btn-secondary {
        padding: 12px 24px
    }
}

@media screen and (max-width: $m-mobile-sm) {
    .btn-primary,
    .btn-secondary {
        width: calc(100% - 48px);
        font-size: $fs-18;
    }
}