@use '../../../variables' as v;
@use '../../../mixins' as m;

.projects-area {
    padding-top: v.$area-spacing-md;
    padding-bottom: v.$area-spacing-md;
    overflow-x: clip;

    h3 {
        pointer-events: none;
    }

    p {
        width: 620px;
        font-size: v.$fs-24;
        padding-top: 35px;
        padding-bottom: v.$area-spacing-md;
        pointer-events: none;
    }
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 140px;
    pointer-events: auto;
}

app-bubble:nth-of-type(1) {
    @include m.app-bubble(
        $size: 110px,
        $top: 50px,
        $right: 40%,
        $index: 0);
    pointer-events: auto;
}

app-bubble:nth-of-type(2) {
    @include m.app-bubble(
        $size: 180px,
        $top: 230px,
        $right: 10%,
        $index: 0);
    pointer-events: auto;
}

app-bubble:nth-of-type(3) {
    @include m.app-bubble(
        $size: 70px,
        $top: 22%,
        $right: 20%,
        $index: 10);
    pointer-events: auto;
}

app-bubble:nth-of-type(4) {
    @include m.app-bubble(
        $size: 50px,
        $top: 46%,
        $right: 70%,
        $index: 0);
    pointer-events: auto;
}

app-bubble:nth-of-type(5) {
    @include m.app-bubble(
        $size: 180px,
        $top: 75%,
        $left: 70%,
        $index: 10);
    pointer-events: auto;
}

// Media
@media screen and (max-width: v.$m-mobile-lg) {
    .projects-area {
        p {
            width: auto;
        }
    }

    app-bubble:nth-of-type(1) {
        @include m.app-bubble(
            $size: 110px,
            $top: 50px,
            $right: 25%,
            $index: 0);
        pointer-events: auto;
    }

    app-bubble:nth-of-type(2) {
        @include m.app-bubble(
            $size: 180px,
            $top: 280px,
            $right: 6%,
            $index: 0);
        pointer-events: auto;
    }

    app-bubble:nth-of-type(3) {
        @include m.app-bubble(
            $size: 250px,
            $top: 15%,
            $left: -10%,
            $index: 0);
        pointer-events: auto;
    }

    app-bubble:nth-of-type(4) {
        @include m.app-bubble(
            $size: 450px,
            $top: 36%,
            $right: -20%,
            $index: 0);
        pointer-events: auto;
    }
}

@media screen and (max-width: v.$m-mobile-md) {
    .projects-area {
        padding-top: v.$area-spacing-sm;
        padding-bottom: v.$area-spacing-sm;

        p {
            font-size: v.$fs-18;
            padding-bottom: v.$area-spacing-sm;
        }
    }

    .projects-container {
        gap: 100px;
    }

    app-bubble:nth-of-type(1) {
        @include m.app-bubble(
            $size: 35px,
            $top: 12px,
            $right: 25%,
            $index: 0);
        pointer-events: auto;
    }

    app-bubble:nth-of-type(2) {
        @include m.app-bubble(
            $size: 70px,
            $top: 200px,
            $right: 10%,
            $index: 0);
        pointer-events: auto;
    }

    app-bubble:nth-of-type(3) {
        @include m.app-bubble(
            $size: 200px,
            $top: 10%,
            $left: -10%,
            $index: 0);
        pointer-events: auto;
    }

    app-bubble:nth-of-type(4) {
        @include m.app-bubble(
            $size: 400px,
            $top: 28%,
            $right: -20%,
            $index: 0);
        pointer-events: auto;
    }

    app-bubble:nth-of-type(5) {
        @include m.app-bubble(
            $size: 100px,
            $top: 77%,
            $left: 30%,
            $index: 0);
        pointer-events: auto;
    }
}