@use 'variables' as v;
@use 'mixins' as m;

header {
    position: relative;
    height: 100dvh;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, v.$col-primary-light 91.39%);
    overflow-x: clip;
}

app-navmenu {
    display: none;
}

.navigation {
    position: absolute;
    top: 24px;
    left: 100px;
    right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80dvh;
    padding: 0 100px;
    font-size: 2vw;

    >div:first-of-type {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        order: 1;
        flex: 0 0 50%;
    }

    >div {
        height: inherit;
    }

    .greeting {
        order: 2;
        flex: 0 0 50%;
    }

    img {
        width: 120%;
        height: 120%;
        object-fit: cover;
        object-position: bottom;
        transform: scale(2.0);
        
    }

    p {
        font-size: clamp(16px, 2.2em, v.$fs-64);
        color: v.$col-primary;
        margin-top: 0;
        text-align: left;
        white-space: nowrap;
    }

    h1 {
        font-size: clamp(16px, 4.2em, v.$fs-h1);
    }

    h2 {
        font-size: clamp(16px, 3.9em, v.$fs-h2);
    }
}

.greeting {
    display: flex;
    flex-direction: column;
    text-align: center;

    p {
        text-align: center;
    }

    h1, h2 {
        line-height: 0.8;
    }

    .cta-section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: auto;

        p {
            text-align: center;
            font-size: v.$fs-24;
            margin-bottom: 10px;
        }

        app-social-media-header {
            margin-left: auto;
        }
    }
}

.line {
    align-self: center;
    border-left: 3px solid v.$col-primary;
    height: 200px;
}

app-bubble:nth-of-type(1) {
    @include m.app-bubble(
        $size: 55dvw,
        $top: -20dvh,
        $left: -10dvw,
        $index: 0);
}

app-bubble:nth-of-type(2) {
    @include m.app-bubble(
        $size: 200px,
        $left: 50%,
        $bottom: 0,
        $index: 1);
        transform: translate(-50%, 50%);
}

@media screen and (max-width: 1300px) {
    .navigation {
        left: 50px;
        right: 50px;
    }

    .hero-container {
        padding: 0 50px;
        font-size: 2.5vw;
        
        img {
            transform: scale(1.5) translateY(20px);
        }

        p {
            font-size: clamp(14px, 2em, 48px);
        }

        h1 {
            font-size: clamp(24px, 3.8em, 64px);
        }
    
        h2 {
            font-size: clamp(22px, 3.5em, 58px);
        }

        .cta-section {
            app-social-media-header {
                margin-left: auto;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    header {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .navigation {
        position: absolute;
        top: 24px;
        left: 24px;
        right: 24px;
        padding: 0;
        z-index: 10;
        background: transparent;
    }

    app-navbar {
        display: none;
    }

    app-navmenu {
        display: inline;
    }

    .hero-container {
        height: clamp(700px, 100vw, 900px);
        display: flex !important;
        flex-direction: column !important;
        flex: 1;
        padding: 0 24px !important;
        justify-content: center;
        align-items: center;
        position: static !important;
        height: auto !important;
        bottom: auto !important;
        left: auto !important;
        right: auto !important;
        min-height: 0;
        margin: auto;

        .greeting {
            order: 1 !important;
            flex: 0 0 auto !important;
            margin-bottom: -90px;
            margin-left: 20px;
        }

        >div:first-of-type {
            order: 2 !important;
            flex: 0 0 auto !important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -20px;
        }

        div {
            height: auto;
        }

        img {
            height: clamp(500px, 100vw, 800px);
            max-width: 95vw;
            max-height: 95vw;
            object-fit: cover;
            border-radius: 50%;
            aspect-ratio: 1 / 1;
            display: block;
            margin: 0 auto;
            transform: scale(1.5) translateY(160px);


        }
    }

    .greeting {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 100%;

        p {
            color: white;
            font-size: clamp(24px, 5vw, 32px);
            margin-bottom: 8px;
            font-weight: 400;
        }

        h1 {
            color: white;
            font-size: clamp(36px, 10vw, 60px);
            line-height: 1.1;
            margin-bottom: 4px;
            font-weight: 800;
        }

        h2 {
            color: white;
            font-size: clamp(34px, 9.5vw, 56px);
            line-height: 1.1;
            margin-bottom: 0px;
            font-weight: 800;
        }

        .cta-section {
            display: none;
        }
    }

    app-bubble:nth-of-type(1) {
        @include m.app-bubble(
            $size: 350dvw,
            $top: -115dvh,
            $left: -700px,
            $index: 0);
    }

    app-bubble:nth-of-type(2) {
        @include m.app-bubble(
            $size: 150px,
            $left: 50%,
            $bottom: 0,
            $index: 1);
            transform: translate(-50%, 50%);
    }
}

@media screen and (max-width: 850px) {
    .hero-container {
        img {
            transform: scale(1.5) translateY(170px) !important;
        }
    }
}

@media screen and (max-width: 800px) {
    .hero-container {
        img {
            transform: scale(1.55) translateY(145px) !important;
        }
    }
}

@media screen and (max-width: 750px) {
    .hero-container {
        img {
            transform: scale(1.6) translateY(125px) !important;
        }
    }

    app-bubble:nth-of-type(1) {
        @include m.app-bubble(
            $size: 380dvw,
            $top: -55dvh,
            $left: -700px,
            $index: 0);
    }
}

@media screen and (max-width: 700px) {
    .hero-container {
        img {
            transform: scale(1.7) translateY(125px) !important;
        }
    }
}

@media screen and (max-width: 650px) {
    .hero-container {
        img {
            transform: scale(1.75) translateY(132px) !important;
        }
    }
}

@media screen and (max-width: 600px) {
    .hero-container {
        img {
            transform: scale(1.8) translateY(138px) !important;
        }
    }
}

@media screen and (max-width: 550px) {
    .hero-container {
        img {
            transform: scale(1.85) translateY(145px) !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .hero-container {
        img {
            transform: scale(1.9) translateY(155px) !important;
        }
    }
}

@media screen and (max-width: 450px) {
    .hero-container {
        img {
            transform: scale(1.95) translateY(165px) !important;
        }
        .greeting {
            order: 1 !important;
            flex: 0 0 auto !important;
            margin-bottom: -140px;
            margin-left: 10px;
        }
        >div:first-of-type {
            margin-left: -30px;
        }
    }
}

@media screen and (max-width: 400px) {
    .hero-container {
        img {
            transform: scale(2.0) translateY(175px) !important;
        }
    }
}

@media screen and (max-width: 300px) {
    .hero-container {
        img {
            transform: scale(2.0) translateY(200px) !important;
        }
    }
}





