@use 'variables' as v;

nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

ul {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
        color: v.$col-primary;
        font-size: v.$fs-24;
        text-decoration: none;

        &:hover {
            font-weight: 800;
        }
    }
}

.language-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    
    button {
        padding: 0;
        border: none;
        background: none;
        color: v.$col-primary;
        font-family: inherit;
        font-size: v.$fs-24;
        cursor: pointer;
        opacity: 0.6;
        transition: all 0.1s ease;

        &.active {
            font-weight: 800;
            opacity: 1;
        }

        &:hover {
            transform: scale(1.1);
            opacity: 1;
        }
    }

    .separator {
        color: v.$col-primary;
        font-size: v.$fs-24;
        opacity: 0.6;
    }
}